@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/solid.min.css";

@font-face {
    font-family: 'Titling Gothic FB Extended Bold';
    src: url('/fonts/Titling-Gothic-FB/TitlingGothicFBExtendedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-Bold';
    src: url('/fonts/Sharp-Sans/SharpSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-BoldItalic';
    src: url('/fonts/Sharp-Sans/SharpSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-Medium';
    src: url('/fonts/Sharp-Sans/SharpSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-MediumItalic';
    src: url('/fonts/Sharp-Sans/SharpSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Satoshi */
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/fonts/Satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('/fonts/Satoshi/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Scheherazade New */
@font-face {
    font-family: 'Scheherazade New';
    src: url('/fonts/Scheherazade_New/ScheherazadeNew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scheherazade New';
    src: url('/fonts/Scheherazade_New/ScheherazadeNew-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Tenor Sans */
@font-face {
    font-family: 'Tenor Sans';
    src: url('/fonts/Tenor_Sans/TenorSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Tenor Sans */
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas-Neue/BebasNeue-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-titling-gothic-fb-extended-bold: 'Titling Gothic FB Extended Bold', sans-serif;
    --font-sharp-sans-bold: 'SharpSans-Bold', sans-serif;
    --font-sharp-sans-bold-italic: 'SharpSans-BoldItalic', sans-serif;
    --font-sharp-sans-medium: 'SharpSans-Medium', sans-serif;
    --font-bebas-neue: "Bebas Neue", sans-serif;


    /* Blu Typography */
    --font-blu-title: 'Tenor Sans', sans-serif;
    --font-blu-body: 'Satoshi-Regular', sans-serif;
}

body.dark-mode {
    background-color: #0D1116;
}

body.dark-mode div.bg-\[var\(--neutral-text-inverted\)\],
body.dark-mode section.bg-\[var\(--neutral-text-inverted\)\] {
    background-color: #0D1116;
}