@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ShieldSans-Bold';
    src: url('/fonts/Shield-Sans/ShieldSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShieldSans-Black';
    src: url('/fonts/Shield-Sans/ShieldSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShieldSans-Regular';
    src: url('/fonts/Shield-Sans/ShieldSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShieldSans';
    src: url('/fonts/Shield-Sans/ShieldSans-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShieldSans';
    src: url('/fonts/Shield-Sans/ShieldSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShieldSans-Condensed';
    src: url('/fonts/Shield-Sans/ShieldSans-RegularCondensed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tee Line';
    src: url('/fonts/Tee-Line/TeeLine-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tee Line';
    src: url('/fonts/Tee-Line/TeeLine-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tee Line Bold-Italic';
    src: url('/fonts/Tee-Line/TeeLine-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ShieldSans-Semibold-Condensed';
    src: url('/fonts/Shield-Sans/ShieldSans-SemiBoldCondensed.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titling Gothic FB Extended Bold';
    src: url('/fonts/Titling-Gothic-FB/TitlingGothicFBExtendedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-Bold';
    src: url('/fonts/Sharp-Sans/SharpSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-BoldItalic';
    src: url('/fonts/Sharp-Sans/SharpSans-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-Medium';
    src: url('/fonts/Sharp-Sans/SharpSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpSans-MediumItalic';
    src: url('/fonts/Sharp-Sans/SharpSans-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Satoshi */
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/fonts/Satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('/fonts/Satoshi/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Scheherazade New */
@font-face {
    font-family: 'Scheherazade New';
    src: url('/fonts/Scheherazade_New/ScheherazadeNew-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scheherazade New';
    src: url('/fonts/Scheherazade_New/ScheherazadeNew-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Tenor Sans */
@font-face {
    font-family: 'Tenor Sans';
    src: url('/fonts/Tenor_Sans/TenorSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Tenor Sans */
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas-Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-shields-sans-regular: 'ShieldSans-Regular', sans-serif;
    --font-shields-sans-condensed: 'ShieldSans-Condensed', sans-serif;
    --font-tee-line-bold-italic: 'Tee Line Bold-Italic', sans-serif;
    --font-shields-sans-semibold-condensed: 'ShieldSans-Semibold-Condensed', sans-serif;
    --font-shields-sans-bold: 'ShieldSans-Bold', sans-serif;
    --font-shields-sans-semibold: 'ShieldSans', sans-serif;
    --font-tee-line-bold: 'Tee Line', sans-serif;
    --font-tee-line-regular: 'Tee Line', sans-serif;
    --font-shields-sans-black: 'ShieldSans-Black', sans-serif;
    --font-titling-gothic-fb-extended-bold: 'Titling Gothic FB Extended Bold', sans-serif;
    --font-sharp-sans-bold: 'SharpSans-Bold', sans-serif;
    --font-sharp-sans-bold-italic: 'SharpSans-BoldItalic', sans-serif;
    --font-sharp-sans-medium: 'SharpSans-Medium', sans-serif;
    --font-bebas-neue: "Bebas Neue", sans-serif;


    /* Blu Typography */
    --font-blu-title: 'Tenor Sans', sans-serif;
    --font-blu-body: 'Satoshi-Regular', sans-serif;
}

@import "tailwindcss";

body.dark-mode {
    background-color: #0D1116;
}

body.dark-mode div.bg-\[var\(--neutral-text-inverted\)\],
body.dark-mode section.bg-\[var\(--neutral-text-inverted\)\] {
    background-color: #0D1116;
}